services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.139.0@sha256:faf125d656fa47cea568b2f3b4494efd2525083bc75c1e96038bc23f05cd68fd
    volumes:
      - ./otel-collector-config.yaml:/etc/otel/config.yaml
    command:
      - '--config=/etc/otel/config.yaml'
    ports:
      - 1888:1888 # pprof extension
      - 8888:8888 # Prometheus metrics exposed by the Collector
      - 8889:8889 # Prometheus exporter metrics
      - 13133:13133 # health_check extension
      - 4317:4317 # OTLP gRPC receiver
      - 4318:4318 # OTLP http receiver
      - 55679:55679 # zpages extension     - loki
    depends_on:
      - jaeger-collector
      - loki
  jaeger-collector:
    image: jaegertracing/jaeger-collector:1.74.0@sha256:d88975c844d4406b1e66360a3ab7c5910e4907483ee764b669efd8992a70b605
    command:
      - "--cassandra.keyspace=jaeger_v1_dc1"
      - "--cassandra.servers=cassandra"
      - "--collector.otlp.enabled=true"
      - "--collector.otlp.grpc.host-port=:4317"
      - "--collector.otlp.http.host-port=:4318"
    environment:
      - SAMPLING_CONFIG_TYPE=adaptive
    ports:
      - '4317'
      - '4318'
    restart: on-failure
    depends_on:
      - cassandra-schema
  cassandra:
    image: cassandra:5.0.5@sha256:9baaa5f5eea4ebb12d27f444fb8232ce3de93f49b8452cdaf0b24a56c0c78caf
  cassandra-schema:
    image: jaegertracing/jaeger-cassandra-schema:1.74.0@sha256:ceb7d9c2dd8b43a8c2aeaaf1da6b838badb031c8844e8fe99f51134b501bebcd
    depends_on:
      - cassandra
  jaeger-query:
    image: jaegertracing/jaeger-query:1.74.0@sha256:5822c36dc9b1f3fa4c66ede5bfaa5c221d49da40f983d48246ae62400c972ef2
    command:
      - "--cassandra.keyspace=jaeger_v1_dc1"
      - "--cassandra.servers=cassandra"
    ports:
      - '16686:16686'
      - '16687:16687'
    restart: on-failure
    depends_on:
      - cassandra-schema
  prometheus:
    image: prom/prometheus:v3.6.0@sha256:76947e7ef22f8a698fc638f706685909be425dbe09bd7a2cd7aca849f79b5f64
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command: --web.enable-lifecycle --web.enable-otlp-receiver --config.file=/etc/prometheus/prometheus.yml
    restart: always
    ports:
      - "9090:9090"
  loki:
    image: grafana/loki:3.5.7@sha256:0eaee7bf39cc83aaef46914fb58f287d4f4c4be6ec96b86c2ed55719a75e49c8
    ports:
      - "3100:3100"
    volumes:
      - ./loki-config.yaml:/etc/loki/local-config.yaml
    command: -config.file=/etc/loki/local-config.yaml
  grafana:
    image: grafana/grafana:12.2.0@sha256:74144189b38447facf737dfd0f3906e42e0776212bf575dc3334c3609183adf7
    environment:
      - GF_ANALYTICS_REPORTING_ENABLED=false
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_BASIC_ENABLED=false
      - GF_FEATURE_TOGGLES_ENABLE=accessControlOnCall
      - GF_INSTALL_PLUGINS=https://storage.googleapis.com/integration-artifacts/grafana-lokiexplore-app/grafana-lokiexplore-app-latest.zip;grafana-lokiexplore-app
    ports:
      - 3000:3000/tcp
    volumes:
      - ./grafana:/etc/grafana/provisioning
  pyrra-api:
    image: ghcr.io/pyrra-dev/pyrra:v0.9.1@sha256:a3ccfc20ff14c1e3fc128c38cc4edd622e1da39254fa0a49925e5505ecbdf1e1
    container_name: pyrra_api
    restart: always
    command:
      - api
      - --prometheus-url=http://prometheus:9090
      - --prometheus-external-url=http://localhost:9090
      - --api-url=http://pyrra-filesystem:9444
    ports:
      - "9099:9099"
  pyrra-filesystem:
    image: ghcr.io/pyrra-dev/pyrra:v0.9.1@sha256:a3ccfc20ff14c1e3fc128c38cc4edd622e1da39254fa0a49925e5505ecbdf1e1
    user: root
    container_name: pyrra_filesystem
    restart: always
    command:
      - filesystem
      - --prometheus-url=http://prometheus:9090
    volumes:
      - ./pyrra:/etc/pyrra
      - prometheus_pyrra:/etc/prometheus/pyrra
volumes:
  prometheus-data:
  prometheus_pyrra: {}
