services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.146.1@sha256:f6e429c1052ab50f85a7afa5f7e32f25931697751622b0e1f453d10f79a1df3c
    volumes:
      - ./otel-collector-config.yaml:/etc/otel/config.yaml
    command:
      - '--config=/etc/otel/config.yaml'
    ports:
      - 1888:1888 # pprof extension
      - 8888:8888 # Prometheus metrics exposed by the Collector
      - 8889:8889 # Prometheus exporter metrics
      - 13133:13133 # health_check extension
      - 4317:4317 # OTLP gRPC receiver
      - 4318:4318 # OTLP http receiver
      - 55679:55679 # zpages extension     - loki
    depends_on:
      - jaeger-collector
      - loki
  jaeger-collector:
    image: jaegertracing/jaeger-collector:1.76.0@sha256:429a60eedb3bb25aaf5500d8b4ab11ae7c85250bb1afbdbbbd30b4b8ba01918a
    command:
      - "--cassandra.keyspace=jaeger_v1_dc1"
      - "--cassandra.servers=cassandra"
      - "--collector.otlp.enabled=true"
      - "--collector.otlp.grpc.host-port=:4317"
      - "--collector.otlp.http.host-port=:4318"
    environment:
      - SAMPLING_CONFIG_TYPE=adaptive
    ports:
      - '4317'
      - '4318'
    restart: on-failure
    depends_on:
      - cassandra-schema
  cassandra:
    image: cassandra:5.0.6@sha256:1d8cf162daa6292aae28ebd2228dea444a5108f82bf1df085804638a36896e8c
  cassandra-schema:
    image: jaegertracing/jaeger-cassandra-schema:2.15.1@sha256:5a80dbe6d5b0169d6a5ba60bf20cc35f30efb764514475f4db95159263803ee5
    depends_on:
      - cassandra
  jaeger-query:
    image: jaegertracing/jaeger-query:1.76.0@sha256:fc9f1552ec570f5bfae055c149bd67d83b936371f1947ff503127bb02204295e
    command:
      - "--cassandra.keyspace=jaeger_v1_dc1"
      - "--cassandra.servers=cassandra"
    ports:
      - '16686:16686'
      - '16687:16687'
    restart: on-failure
    depends_on:
      - cassandra-schema
  prometheus:
    image: prom/prometheus:v3.9.1@sha256:1f0f50f06acaceb0f5670d2c8a658a599affe7b0d8e78b898c1035653849a702
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command: --web.enable-lifecycle --web.enable-otlp-receiver --config.file=/etc/prometheus/prometheus.yml
    restart: always
    ports:
      - "9090:9090"
  loki:
    image: grafana/loki:3.6.6@sha256:434c7effbd66dbf69c2665fe4b2125549ecf7b45039ac28595d4034031cf47ce
    ports:
      - "3100:3100"
    volumes:
      - ./loki-config.yaml:/etc/loki/local-config.yaml
    command: -config.file=/etc/loki/local-config.yaml
  grafana:
    image: grafana/grafana:12.3.3@sha256:9e1e77ade304069aee3196e9a4f210830e96e80ce9a2640891eccc324b152faf
    environment:
      - GF_ANALYTICS_REPORTING_ENABLED=false
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_BASIC_ENABLED=false
      - GF_FEATURE_TOGGLES_ENABLE=accessControlOnCall
      - GF_INSTALL_PLUGINS=https://storage.googleapis.com/integration-artifacts/grafana-lokiexplore-app/grafana-lokiexplore-app-latest.zip;grafana-lokiexplore-app
    ports:
      - 3000:3000/tcp
    volumes:
      - ./grafana:/etc/grafana/provisioning
  pyrra-api:
    image: ghcr.io/pyrra-dev/pyrra:v0.9.3@sha256:1f2e1cbed234421cc0f1931582f6202a5e4317e743f63631f03969b5f4cce396
    container_name: pyrra_api
    restart: always
    command:
      - api
      - --prometheus-url=http://prometheus:9090
      - --prometheus-external-url=http://localhost:9090
      - --api-url=http://pyrra-filesystem:9444
    ports:
      - "9099:9099"
  pyrra-filesystem:
    image: ghcr.io/pyrra-dev/pyrra:v0.9.3@sha256:1f2e1cbed234421cc0f1931582f6202a5e4317e743f63631f03969b5f4cce396
    user: root
    container_name: pyrra_filesystem
    restart: always
    command:
      - filesystem
      - --prometheus-url=http://prometheus:9090
    volumes:
      - ./pyrra:/etc/pyrra
      - prometheus_pyrra:/etc/prometheus/pyrra
volumes:
  prometheus-data:
  prometheus_pyrra: {}
