name: Rust
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
permissions: read-all
env:
  CARGO_TERM_COLOR: always
  RUST_TOOLCHAIN: 1.89
  RUSTFLAGS: "-Dwarnings -Cinstrument-coverage"
  LLVM_PROFILE_FILE: "axum_graphql-%p-%m.profraw"
  SQLX_VERSION: 0.8.6
  SQLX_FEATURES: "rustls,sqlite"
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
          disable-telemetry: true
      - name: Install Linux Dependencies
        run: sudo apt-get update && sudo apt-get install -y libxdo-dev sqlite3
      - name: Cache sqlx-cli
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: cache-sqlx
        with:
          path: ~/.cargo/bin/sqlx ~/.cargo/bin/cargo-sqlx
          key: ${{ runner.os }}-sqlx-${{ env.SQLX_VERSION }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: dtolnay/rust-toolchain@5d458579430fc14a04a08a1e7d3694f545e91ce6 # stable
        with:
          toolchain: ${{ env.RUST_TOOLCHAIN }}
      - name: Install sqlx-cli
        if: steps.cache-sqlx.outputs.cache-hit == false
        run: cargo install sqlx-cli --force --version=${{ env.SQLX_VERSION}} --features=${{ env.SQLX_FEATURES}} --no-default-features
      - name: Migrate database
        run: ./scripts/init_db.sh
      - name: Check sqlx-data.json is up-to-date
        run: cargo sqlx prepare --check -- --bin axum-graphql
      - name: Run tests
        run: cargo test
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
          disable-telemetry: true
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: dtolnay/rust-toolchain@5d458579430fc14a04a08a1e7d3694f545e91ce6 # stable
        with:
          components: rustfmt
          toolchain: ${{ env.RUST_TOOLCHAIN }}
      - name: Enforce formatting
        run: cargo fmt --check
  fmt-dprint:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: dprint/check@9cb3a2b17a8e606d37aae341e49df3654933fc23 # v2.3
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
          disable-telemetry: true
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install Linux Dependencies
        run: sudo apt-get update && sudo apt-get install sqlite3 -y
      - name: Cache sqlx-cli
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: cache-sqlx
        with:
          path: ~/.cargo/bin/sqlx ~/.cargo/bin/cargo-sqlx
          key: ${{ runner.os }}-sqlx-${{ env.SQLX_VERSION }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: dtolnay/rust-toolchain@5d458579430fc14a04a08a1e7d3694f545e91ce6 # stable
        with:
          components: clippy
          toolchain: ${{ env.RUST_TOOLCHAIN }}
      - name: Install sqlx-cli
        if: steps.cache-sqlx.outputs.cache-hit == false
        run: cargo install sqlx-cli --force --version=${{ env.SQLX_VERSION }} --features=${{ env.SQLX_FEATURES }} --no-default-features
      - name: Migrate database
        run: ./scripts/init_db.sh
      - name: Check sqlx-data.json is up-to-date
        run: cargo sqlx prepare --check -- --bin axum-graphql
      - name: Linting
        run: cargo clippy -- -D warnings
  beta:
    runs-on: ubuntu-latest
    name: ubuntu / beta
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Install Linux Dependencies
        run: sudo apt-get update
      - name: Install beta
        uses: dtolnay/rust-toolchain@5d458579430fc14a04a08a1e7d3694f545e91ce6 # stable
        with:
          toolchain: beta
      - name: cargo beta check
        run: cargo check
  msrv:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        msrv: ["1.86.0"]
    name: ubuntu / ${{ matrix.msrv }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Linux Dependencies
        run: sudo apt-get update
      - name: Install ${{ matrix.msrv }}
        uses: dtolnay/rust-toolchain@5d458579430fc14a04a08a1e7d3694f545e91ce6 # stable
        with:
          toolchain: ${{ matrix.msrv }}
      - name: cargo +${{ matrix.msrv }} check
        run: cargo check
  coverage:
    name: Code coverage
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
          disable-telemetry: true
      - name: Install Linux Dependencies
        run: sudo apt-get update && sudo apt-get install sqlite3 -y
      - name: Cache sqlx-cli
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: cache-sqlx
        with:
          path: / ~/.cargo/bin/sqlx ~/.cargo/bin/cargo-sqlx
          key: ${{ runner.os }}-sqlx-${{ env.SQLX_VERSION }}
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: dtolnay/rust-toolchain@5d458579430fc14a04a08a1e7d3694f545e91ce6 # stable
        with:
          components: llvm-tools
          toolchain: ${{ env.RUST_TOOLCHAIN }}
      - name: Install sqlx-cli
        if: steps.cache-sqlx.outputs.cache-hit == false
        run: cargo install sqlx-cli --force --version=${{ env.SQLX_VERSION}} --features=${{ env.SQLX_FEATURES}} --no-default-features
      - name: Install grcov
        run: cargo install grcov
      - name: Migrate database
        run: ./scripts/init_db.sh
      - name: Check sqlx-data.json is up-to-date
        run: cargo sqlx prepare --check -- --bin axum-graphql
      - name: Build
        run: cargo build
      - name: Run tests
        run: cargo test
      - name: Generate code coverage
        run: grcov . -s . --binary-path ./target/debug/ -t lcov --branch --ignore-not-existing -o ./target/debug/
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: ./target/debug/lcov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  dependencies:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Machete
        uses: bnjbvr/cargo-machete@7959c845782fed02ee69303126d4a12d64f1db18 # v0.9.1
