name: Security audit
on:
  schedule:
    - cron: '25 23 * * *'
permissions:
  contents: read
jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: rustsec/audit-check@69366f33c96575abad1ee0dba8212993eecbe998 # v2.0.0
        with:
          ignore: RUSTSEC-2023-0071
          token: ${{ secrets.GITHUB_TOKEN }}
